@{
    ViewData["Title"] = "PlayInfo";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>PlayInfo</title>
</head>
<body>
    <div id="tijd"></div>
    <div id="user"></div>
    <div id="pogingen"></div>
    <div class="row">         <div class="col-sm-4 col-sm-offset-4"><h3>PlayInfo</h3></div>     </div>     <div class="row">


    </div>

    <div class="row">         <div><ul id="messagesList"></ul></div>     </div>

    <script src="lib/aspnet/signalr/dist/browser/signalr.js"></script>
    <script src="js/chat.js"></script>     <link href="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</body>
</html>

